{
  "singleQuote": true,
  "semi": false,
  "jsxSingleQuote": true,
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "css",
  "tabWidth": 2,
  "bracketSpacing": true,
  "jsxBracketSameLine": true
}
