.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 1.5rem;
}

.gnb {
  padding-bottom: 0;
  margin-bottom: 3rem;
}

.gnb ul {
  display: flex;
}

.gnb li {
  margin-right: 0.75rem;
}

.active {
  text-decoration: underline;
}

@media screen and (min-width: 568px) {
  .main {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media screen and (min-width: 768px) {
  .main {
    width: 60%;
    height: 100vh;
    padding: 50px;
    padding-bottom: 1rem;
  }

  .gnb {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 4rem;
  }

  .gnb ul {
    margin-bottom: 0;
  }

  .gnb li {
    margin-right: 1.5rem;
  }
}

@media screen and (min-width: 992px) {
  .main {
    width: 70%;
  }

  .gnb {
    margin-bottom: 5rem;
  }
}
